.lottery {
  &__page {
    gap: 8px;
    display: grid;
    grid-template-columns: auto calc(3rem * 10 + 8px * 10) auto;

    .ticket__list {
      // grid-row: 1/-1;
      grid-column: 1/-1;
    }
  }

  // &__controlers {
  // }

  // &_numbers-board {
  // }
}
