.account__infos {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .account__infos .token__actions {
    display: flex;
    gap: 8px; }
  .account__infos .token__buy-btn {
    padding: 8px 16px;
    font-size: 1rem; }
  .account__infos .account__balance {
    display: flex;
    gap: 16px;
    font-size: 2rem; }
