.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__heading {
    gap: 8px;
    display: flex;
    align-items: center;
  }

  .account {
    border: 1px solid black;
    padding: 8px 16px;
    border-radius: 32px;
    background-color: #fafafa;

    font-weight: bold;

    &__info {
      text-align: right;

      strong {
        display: inline-block;
        margin-right: 8px;
      }
    }

    .signout-btn {
      background: none;
      border: none;
    }
  }
}
